//fonts

h1 {
    font-size: 3rem;
}

.page1 p {
    font-size: 2.6rem;
}

h3,
.menu-item:nth-child(3n+3) {
    font-size: 2.6rem;
}

h2 {
    font-size: 3rem;
}

label,
input[type=button] {
    font-size: 2.3rem;
}

.menu-item:nth-child(3n+2) {
    font-size: 1.3rem;
}


body {
    .container {
        max-width: 1440px;

        header {
            width: 120px;
        }
    }
}

header nav div .navmenu .menu-wrapper {
    max-width: 1322px;
    margin-left: 118px;
}

header nav,
header nav input,
header nav div button {
    width: 60px;
    height: 60px;
}

.page1 .row1 {
    .page-title-box {
        grid-column: span 4;
    }

    .text {
        grid-column: span 7;
    }
}

.page3 .booking .form-column {
    margin-right: 6%;

    h2 {
        text-align: left;
    }

    form div {
        flex-direction: row;
        margin-bottom: 1.2rem;
        justify-content: space-between;
        align-items: center;

        input {
            height: 2.2rem;
            width: 70%;
            line-height: 1;
        }

        input[value=Cancel] {
            margin: 10px 10px 0 10px;
        }

        input[value=Request] {
            margin: 10px 0 0 10px;
        }
    }
}