//fonts

h1 {
    font-size: 3rem;
}
.page1 p {
    font-size: 2.6rem;
}
h3 {
    font-size: 2.6rem;
}

body {
    .container {
    max-width: 1440px;
    header {
        width: 118px;
    }
} 
}

header nav div .navmenu .menu-wrapper {
    max-width: 1322px;
    margin-left: 118px;
}

header nav, header nav input, header nav div button {
    width: 60px;
    height: 60px;
}

.page1 .row1 {
    .page-title-box {
        grid-column: span 4;
    }
    .text {
        grid-column: span 7;
    }
}

