/*reset figure*/
figure {
    margin: 0;
}

header {
    padding: 0 12px;
    border: 1px solid red;
    background-color: #000000;
    position: sticky;
    width: calc(100% - 24px);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    & > * {
        border: 1px solid red;
    }
    nav {
        position: relative;
        display: flex;
        align-items: center;
        input {
            position: absolute;
            width: 38px;
            height: 38px;
            opacity: 0;
            cursor: pointer;
        }
        div {
            button {
            background-color: transparent;
            width: 38px;
            height: 38px;
            border: 0;
            pointer-events: none;
                span {
                    display: block;
                    width: 25px;
                    height: 3px;
                    background-color: yellow;
                    border-radius: 6px;
                    margin-bottom: 4px;
                }
            }
            .navmenu {
                position: fixed;
                background-color: #ac76ff;
                top: 85px;
                left: 0;
                width: 100%;
                height: 100vh;
                visibility: hidden;
                opacity: 0;
                transition: opacity 2s cubic-bezier(0.075, 0.82, 0.165, 1);
            }
        }
        
    }
    h1 {
        color: #ffffff;
        text-transform: uppercase;
        font-family: 'Jockey One', sans-serif;
    }
}
//Svårt att nästla
input:checked + div button {
    margin-bottom: 7px;
}
input:checked + div button span {
    position: absolute;
    transition: all 0.3s ease-in-out;
}
input:checked + div button span:nth-child(2) {
    opacity: 0;
}
input:checked + div button span:nth-child(1) {
    transform: rotate(-45deg);
}
input:checked + div button span:nth-child(3) {
    transform: rotate(45deg);
}

input:checked + div .navmenu {
    visibility: visible;
    opacity: 1;
}


article {
    min-height: 100vh;
    padding-left: 12px;
    padding-right: 12px;
    border: 1px solid black;
    display: grid;
&.page1 {
    background-color: yellow;
}                        
    section {
        border: 1px solid orange;
    }
&.page2 {
    background-color: green;
}                        
    section {
        border: 1px solid orange;
    }
    
}
