/*reset figure*/
figure {
    margin: 0;
}

$green: rgba(0, 167, 111);
$yellow: rgba(255, 233, 81, 1);
$blue: rgba(169, 116, 255, 1);
$black: rgba(0, 0, 0, 1);

header {
    padding: 0 12px;
    border: 1px solid red;
    background-color: #000000;
    position: sticky;
    width: calc(100% - 24px);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    & > * {
        border: 1px solid red;
    }
    nav {
        position: relative;
        display: flex;
        align-items: center;
        input {
            position: absolute;
            width: 38px;
            height: 38px;
            opacity: 0;
            cursor: pointer;
        }
        div {
            button {
            background-color: transparent;
            width: 38px;
            height: 38px;
            border: 0;
            pointer-events: none;
                span {
                    display: block;
                    width: 25px;
                    height: 3px;
                    background-color: yellow;
                    border-radius: 6px;
                    margin-bottom: 4px;
                }
            }
            .navmenu {
                position: fixed;
                background-color: #ac76ff;
                top: 85px;
                left: 0;
                width: 100%;
                height: 100vh;
                visibility: hidden;
                opacity: 0;
                transition: opacity 2s cubic-bezier(0.075, 0.82, 0.165, 1);
            }
        }
        
    }
    h1 {
        color: #ffffff;
        text-transform: uppercase;
        font-family: 'Jockey One', sans-serif;
    }
}
//Svårt att nästla
input:checked + div button {
    margin-bottom: 7px;
}
input:checked + div button span {
    position: absolute;
    transition: all 0.3s ease-in-out;
}
input:checked + div button span:nth-child(2) {
    opacity: 0;
}
input:checked + div button span:nth-child(1) {
    transform: rotate(-45deg);
}
input:checked + div button span:nth-child(3) {
    transform: rotate(45deg);
}

input:checked + div .navmenu {
    visibility: visible;
    opacity: 1;
}


article {
    padding-left: 12px;
    padding-right: 12px;
    border: 1px solid black;
    &.page1 {
        min-height: 100vh;
        display: grid;
        background-color: yellow;
}                        
    section {
        border: 1px solid orange;
    }
&.page2 {
    background-color: green;
}                        
    section {
        border: 1px solid orange;
        .menu-wrapper {
            display: grid;
            grid-template-columns: repeat(11, 1fr);
            grid-template-rows: repeat(14, 1fr);
            grid-auto-flow: dense;
                .menu-item {
                    align-self: baseline;
                }
                .menu-item:nth-child(3n+1) {
                    background-color: white;
                    grid-column: span 10;
                    margin-top: 5px;
                    span {
                        padding: 0 10px;
                    }
                }
                .menu-item:nth-child(3n+2) {
                    background-color: white;
                    grid-column: span 10;
                }
                .menu-item:nth-child(3n+3) {
                    background-color: white;
                    grid-column: span 1;
                    grid-row: span 2;
                    margin-top: 5px;
                    margin-bottom: 5px;
                    align-self: normal;
                }
        }
    }
    
}
.page3 {
    .booking {
        .form-column {
            form {
                > div {
                    display: flex;
                    justify-content: space-between;
                }
            }
        }
    }
}
.cookie-banner {
    background-color: rgba(0, 0, 255, 0.9);
    position: fixed;
    width: 100%;
    height: 50px;
    z-index: 999;
    bottom: 0;
    .cookie-row {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        .cookie-btns {
            display: flex;
        }
    }
}
